<div class="row">
<div class="col-md-6 offset-md-3 mt-5">
<p id="alert"><%= alert %> </p>
<p id="notice"><%= notice %></p>
<h1 class="text-center mt-5">Login </h1>
<%= form_tag sessions_path , id: 'login-form', class: 'login-form' do |f| %>
 <div class="form_group"> 
    <%= text_field_tag :username, nil, placeholder: 'Enter your username', id: 'username' %>
 </div>

 <div class="form_group"> 
    <%= text_field_tag :email, nil, placeholder: 'Enter your email', id: 'email'%>
 </div>

 <div id="session_controls" class="form_group">
    <%= submit_tag :login, {id: 'login', class: 'btn btn-primary'}  %> 
    <a class="btn btn-secondary" href="/sign_up"> Create an account</a>
 </div>
<% end %>

</div>
</div>